a,
a:hover {
  color: rgb(161, 233, 255);
}

a:hover {
  text-decoration: underline;
}

#app-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#logo {
  font-family: sans-serif;
  transition: all 0.1s ease;
  box-shadow: 0 2px rgb(4, 58, 139);
  font-size: 3rem;
  font-weight: 600;
  background: rgb(0, 54, 134);
  text-align: center;
  border-radius: 0.5rem;
  border: 2px solid rgb(0, 37, 94);
  padding: 1rem 2rem;
  color: rgb(193, 240, 255)
}

#logo.pressed {
  box-shadow: 0 0;
  margin-bottom: -2px;
  margin-top: 2px;
}

.hidden {
  display: none;
}

.divider {
  display: block;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#update-available {
  padding: 8px 5px;
  border: 1px solid #a8ffd6;
  background: #161616;
  border-radius: 5px;
}

#soundpack-bug {
  padding: 8px 5px;
  border: 1px solid #212191;
  background: #161616;
  border-radius: 5px;
}

.mb-0 {
  margin-bottom: 0;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: #2222a5;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 20px;
  /* Set a specific slider handle width */
  height: 20px;
  /* Slider handle height */
  background: rgb(153, 226, 255);
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 20px;
  /* Set a specific slider handle width */
  height: 20px;
  /* Slider handle height */
  background: rgb(153, 226, 255);
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50%;
}

table tr td {
  border-bottom: 0;
}

table {
  margin-bottom: 0;
}
